# Database
PGUSER=postgres
PGPASSWORD=edwin
PGDATABASE=openjobapi
PGHOST=localhost
PGPORT=5432

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=penchozdp12@gmail.com
MAIL_PASSWORD=zftt rejk gzmb pgjs