# Server
HOST=localhost
PORT=3000

# Database
PGUSER=your_db_user
PGPASSWORD=your_db_password
PGDATABASE=openjob
PGHOST=localhost
PGPORT=5432

# JWT
ACCESS_TOKEN_KEY=your_access_token_secret
REFRESH_TOKEN_KEY=your_refresh_token_secret
